<h1 style="text-align: center;font-size:40px"> Login Servidor</h1>
<div style="background-color: #483D8B;height: 10px"></div>

<div class="row">
<div class="col-lg-10" style="margin-left: auto;margin-right: auto;">
<br><div><%= link_to 'New Login', new_login_path, class: 'btn btn-primary' %></div>
<p id="notice"><%= notice %></p>



<table class="table table-hover" style="margin-top: 50px">
  <thead>
    <tr>
      <th colspan="1">Login</th>
      <th colspan="1">Senha</th>
      <th colspan="1">User</th>
      <th colspan="1">Server</th>
      <th colspan="3"></th>
    </tr>
    </thead>
  <tbody>
    <% @logins.each do |login| %>
      <tr>
        <td><%= login.login %></td>
        <td><%= login.senha %></td>
        <td><%= login.user.nome %></td>
        <td><%= login.server.nome %></td>
        <td><%= link_to 'Show', login %></td>
        <td><%= link_to 'Edit', edit_login_path(login) %></td>
        <td><%= link_to 'Destroy', login, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody> 
</table>
</div>
</div>