<%= form_with(model: server, local: true) do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :server_nome %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :server_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
