<p id="notice"><%= notice %></p>
<div style="background-color: #483D8B;height: 10px"></div>
<div>
  <h1 style="font-family: verdana;text-align: center;margin-top: 20px;"><b>Servers</b></h1>
  <p style="margin-left: 50px;"><%= link_to 'New Server', new_server_path %></p>
</div>

<table class="table table-hover" style="margin-top: 50px">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Url</th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.nome %></td>
        <td><%= server.url %></td>
        <td><%= link_to 'Show', server %></td>
        <td><%= link_to 'Edit', edit_server_path(server) %></td>
        <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>