<p id="notice"><%= notice %></p>
<p>
  <strong>Nome:</strong>
  <%= @server.nome %>
</p>

<p>
  <strong>Url:</strong>
  <%= @server.url %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
