<p id="notice"><%= notice %></p>
<div style="background-color: #483D8B;height: 10px"></div>

<div>
  <h1 style="font-family: verdana;text-align: center;margin-top: 20px;"><b>Users</b></h1>
  <p style="margin-left: 50px;"><%= link_to 'New User', new_user_path %></p>
</div>

<table class="table table-hover" style="margin-top: 50px">
  <thead>
    <tr>
      <th colspan="2">Nome</th>
      <th colspan="2"></th>
    </tr>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nome %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

  </thead>
</table>

