<p id="notice"><%= notice %></p>
<br><h1 style="text-align: center;">Perfil</h1>
<div style="background-color: #483D8B;height: 10px"></div>

<div class="row" style="margin-top: 50px">
<div class="col-lg-10" style="margin-left: auto;margin-right: auto;">
<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
	<%= link_to 'Associar login de servidor', new_login_path(id: current_user), class: "btn btn-large btn-primary" %>
</p>



<table class="table table-hover" style="margin-top: 50px">
  <thead>
    <tr>
      <th colspan="1">Servidor</th>
      <th colspan="1">Login</th>
      <th colspan="1">Senha</th>
      <th colspan="1"></th>
      <th colspan="1"></th>
    </tr>
  <tbody>
    <% @user.login.each do |login| %>
      <tr>
        <td><%= login.server.nome %></td>
        <td><%= login.login %></td>
        <td><%= login.senha %></td>
        <td><%= link_to 'Fazer Login', login.server.url+'?nome='+login.login+'&password='+login.senha, target: "_blank", rel: "nofollow" %></td>
        <td><%= link_to 'Edit', edit_login_path(login) %></td>
      </tr>
    <% end %>
  </tbody>

  </thead>
</table>
<%= link_to 'Edit', edit_user_path(@user) %> |

<%= link_to 'Back', users_path %>
</div>
</div>