<div style="background-color: #483D8B;height: 10px"></div>
<div class="row">
  <div class="col-lg-6" style="margin-left: auto;margin-right: auto;">
		
		<br><h1 style="text-align: center;"><%= 'Login' %></h1>

		<div style="margin-left: 10px">

		<% if @user_session.errors.has_key? :base %>
		  <div id="error_explanation">
		    <%= @user_session.errors[:base].join(', ') %>
		  </div>
		<% end %>

		<%= form_for @user_session do |f| %>
			<p>
				<div class="form-group">
					<%= f.label :nome %>
					<%= f.text_field :nome, class: 'form-control', size: 10 %>
				</div>	
			</p>
			
			<p>
				<div class="form-group">
					<%= f.label :password %>
					<%= f.password_field :password, class: 'form-control'  %>
				</div>		
			</p>
			
			<p>
				<div class="form-group">
					<%= f.label :token %>
					<%= f.password_field :token, class: 'form-control' %>
				</div>
			</p>
			
			<p>	
				<%= f.submit "Create User session!", class: "btn btn-large btn-success" %>
			</p>

		<% end %>
		</div>
	</div>
</div>