<nav>
  <ul>
    <li><%= link_to "Novo Servidor", new_server_path %></li>
    <li><%= link_to "Novo usuário", new_user_path %></li>
    <li><%= link_to "Servidores", servers_path(current_user) %></li>
    <li><%= link_to "Usuário", user_path(current_user) %></li>
    <li><%= link_to "Logout", user_session_path(current_user.id), method: :delete %></li>
  </ul>
</nav>